<h2>Signup</h2>

<form (submit)="signup(name.value, email.value, password.value)">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required #name>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required #email>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required #password>
  </div>
  <button type="submit">Signup</button>
</form>
