<!-- #signupForm="ngForm" -->
<!-- <form (ngSubmit)="onSubmit()"> 
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="signupData.username" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="signupData.password" required>
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>
</form> -->

<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" placeholder="name" formControlName="email" class="form-control"/>
        <div *ngIf="form['email'].touched && form['email'].errors" class="text-danger">
          <div *ngIf="form['email'].errors['required']">Username is required.</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="password" formControlName="password" class="form-control"/>
        <div *ngIf="form['password'].touched && form['password'].errors" class="text-danger">
          <div *ngIf="form['password'].errors['required']">Password is required.</div>
        </div>
      </div>
      <input type="password" placeholder="password" formControlName="password" class="form-control"/>
      <button [disabled]="submitted && signupForm.invalid" class="btn btn-primary">Create</button>
      <div *ngIf="error" class="text-danger">{{ error }}</div>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>

    </form>
    
  </div>
</div>

